Package        Version
-------------- -------------------
aniso8601      8.0.0
attrs          19.3.0
certifi        2020.4.5.2
click          7.1.2
Flask          1.1.2
flask-restplus 0.13.0
itsdangerous   1.1.0
Jinja2         2.11.2
jsonschema     3.2.0
MarkupSafe     1.1.1
pip            20.1.1
pyrsistent     0.16.0
pytz           2020.1
setuptools     47.3.0.post20200616
six            1.15.0
uWSGI          2.0.18
Werkzeug       0.16.0
wheel          0.34.2
